# Dependencias de Node.js
node_modules
npm-debug.log
yarn-error.log

# Directorios de compilación/salida
dist
coverage

# Archivos de control de versión
.git
.gitignore

# Archivos de configuración de IDEs y OS
.idea/
.vscode/
*.swp
*.bak
*~
.DS_Store
